body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#simple{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    border: 10px solid darkblue;
    box-shadow: 0 0 10px greenyellow;
    animation:simple 2s infinite linear ;
}

@keyframes simple{
    0%,
    50%,
    100%{
        background-color: darkblue;
        border-color: darkcyan;
    }
    25%,
    75%{
        background-color: darkkhaki;
        border-color: red;
    }
}


#spin{
    background-color: rgb(136, 136, 230);
    width: 100px;
    height: 100px;
    border:2px solid lightgreen;
    border-radius: 50%;
    border-top:20px solid darkmagenta;
    border-bottom: 20px solid rgb(144, 164, 238);
    border-left: 20px solid darkorange;
    border-right: 20px solid darkolivegreen;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(90deg);
    }
}


#news{
    height: 100px;
    background-color: coral;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}


#news p{
    margin: 0px;
    animation:news 10s infinite linear;
}

@keyframes news{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


#box{
    width: 100px;
    height: 100px;
    margin-bottom: 200px;
    background-color: rgb(232, 62, 255);
    position: relative;
    animation: box 5s infinite linear;
}

@keyframes box{
    0%{
        top:0;
        bottom: 0;
        transform: rotate(0deg);
        border:radius 0%;
    }

    25%{
        top:0;
        left: 0;
        transform: rotate(90deg);
        border: radius 50%;
    }

    75%{
        top:200px;
        left: 0;
        transform: rotate(270deg);
        border: radius 50%;
    }

    100%{
        top:0;
        left:0;
        transform: rotate(360deg);
        border: radius 0%;
    }

}